
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

h2 {
    text-align: center;
}


/*----------------navbar-------------------------------*/
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    background-color: white;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    max-width: 100%;
    margin: 20px auto;
}

.logo {
    font-size: 22px;
    font-weight: bold;
    color: #007A4D;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 25px;
}

    .nav-links li {
        display: inline;
    }

    .nav-links a {
        text-decoration: none;
        color: black;
        font-size: 16px;
        font-weight: 500;
        padding-bottom: 5px;
    }

        .nav-links a.active {
            font-weight: bold;
            position: relative;
        }

            .nav-links a.active::after {
                content: "";
                position: absolute;
                left: 0;
                bottom: -2px;
                width: 100%;
                height: 2px;
                background-color: #007A4D;
            }

.login-btn {
    background-color: #007A4D;
    color: white;
    padding: 8px 15px;
    border: none;
    border-radius: 20px;
    font-size: 14px;
    cursor: pointer;
    transition: 0.3s;
}

    .login-btn:hover {
        background-color: #005C39;
    }



/*------------------carrusel----------------------------*/

.container-slider {
    width: 100%;
    max-width: 900px;
    overflow: hidden;
    position: relative;
    margin: 50px auto;
    border-radius: 5px;
}

.slider {
    display: flex;
    width: 400%;
    height: 400px;
}

.slider__section {
    width: 100%;
}

.slider__img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.slider__btn {
    position: absolute;
    width: 40px;
    height: 40px;
    background: rgba(255, 255, 255, 0.9);
    top: 50%;
    transform: translateY(-50%);
    font-size: 30px;
    font-weight: bold;
    font-family: monospace;
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
}

    .slider__btn:hover {
        background: #fff;
    }

.slider__btn--izquierda {
    left: 10px;
}

.slider__btn--derecha {
    right: 10px;
}

/*----------------container-------------------*/

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 900px;
    margin: 50px auto;
    background-color: white;
    padding: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

.image-container {
    flex: 1;
    padding-right: 20px;
}

    .image-container img {
        width: 100%;
        border-radius: 10px;
    }

.content {
    flex: 1;
}

    .content h2 {
        font-size: 20px;
        color: #333;
        margin-bottom: 10px;
    }

    .content p {
        color: #666;
        line-height: 1.5;
    }

.button {
    display: inline-block;
    background-color: #007A4D;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 10px;
    font-weight: bold;
}

    .button:hover {
        background-color: #005C39;
    }



/*-------------------tarjetas-------------------------------*/

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 40px;
}

.card {
    width: 250px;
    border-radius: 10px;
    overflow: hidden;
    background: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

    .card:hover {
        transform: scale(1.05);
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
    }

    .card img {
        width: 100%;
        height: 160px;
        object-fit: cover;
    }

    .card h3 {
        padding: 10px;
        margin: 0;
        font-size: 1.2rem;
        background: #333;
        color: white;
        transition: background 0.3s ease;
    }

    .card:hover h3 {
        background: #005C39;
    }
