@page
@model SalonDeBelleza.src.views.Home.AdministradorModel
@{
	ViewData["Title"] = "Administrador";
}
<h2>Bienvenido, @Model.Nombre</h2>

<p>ola admin, tqm</p>
<button onclick="window.location.href='/Citas/Calendario'">Agendar Cita</button>
<button onclick="window.location.href='/Administrador/AdminUsuarios'">Usuarios</button>
<button onclick="window.location.href='/Citas/CitasColaborador'">Todas Citas</button>
<button onclick="window.location.href='/Administrador/HistorialNotificaciones'">Notificaciones</button>
<button onclick="window.location.href='/Administrador/Inventario'">Inventario</button>