@page
@model SalonDeBelleza.src.views.Home.ClienteModel
@{
	ViewData["Title"] = "Cliente";
}
<h2>Bienvenido, @Model.Nombre</h2>
<button onclick="window.location.href='/Citas/Calendario'">Agendar Cita</button>
