@page
@model SalonDeBelleza.src.views.Home.ClienteModel
@{
	ViewData["Title"] = "Cliente";
	Layout = "~/src/views/Shared/LayoutDashboard.cshtml";
}
<h2>Bienvenido, @Model.Nombre</h2>
<button onclick="window.location.href='/Citas/Calendario'">Agendar Cita</button>
<button onclick="window.location.href='/Citas/CitasCliente'">Mis Citas</button>