@page
@model SalonDeBelleza.src.views.IndexModel
@{
    Layout = "~/src/views/Shared/LayoutPrincipal.cshtml";
    ViewData["Title"] = "Home page";
}


<div class="container-slider">
    <div class="slider" id="slider">
        <div class="slider__section">
            <img src="img/slider5.jpg" alt="" class="slider__img">
        </div>
        <div class="slider__section">
            <img src="img/slider2.jpg" alt="" class="slider__img">
        </div>
        <div class="slider__section">
            <img src="img/slider3.jpeg" alt="" class="slider__img">
        </div>
        <div class="slider__section">
            <img src="img/slider4.jpeg" alt="" class="slider__img">
        </div>
    </div>
    <div class="slider__btn slider__btn--derecha" id="btn-derecha">&#62;</div>
    <div class="slider__btn slider__btn--izquierda" id="btn-izquierda">&#60;</div>
</div>

<div class="container">
    <div class="image-container">
        <img src="img/slider3.jpeg" alt="Plato de espaguetis">
    </div>
    <div class="content">
        <h2>Expertise In Industrial Solution</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit...</p>
        <a href="#" class="button">Contacto</a>
    </div>
</div>

<h2>Nuestros Servicios</h2>
<div class="card-container">
    <div class="card">
        <img src="img/slider1.jpg" alt="Imagen 1">
        <h3>Peinados</h3>
    </div>
    <div class="card">
        <img src="img/slider2.jpg" alt="Imagen 2">
        <h3>Uñas</h3>
    </div>
    <div class="card">
        <img src="img/slider3.jpeg" alt="Imagen 3">
        <h3>Tintes</h3>
    </div>
    <div class="card">
        <img src="img/slider5.jpg" alt="Imagen 3">
        <h3>Cortes</h3>
    </div>
</div>

@section Scripts {
    <script src="/js/Carrusel.js"></script>
}
