@page
@model SalonDeBelleza.src.views.InformacionModel
@{
    Layout = "~/src/views/Shared/LayoutPrincipal.cshtml";
    ViewData["Title"] = "Informacion";
}

<div class="hero-section">
    <h1>Beauty Salon</h1>
    <p>Resalta tu belleza natural con nuestros servicios profesionales</p>
    <link href="https://fonts.googleapis.com/css2?family=Fredoka&family=Zain&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">

    <link rel="stylesheet" href="~/css/InformacionStyle.css">
</div>

<section class="servicios">
    <h2>Servicios que ofrecemos</h2>
    <div class="servicio-grid">
        <div class="servicio-card">
            <i class="fas fa-scissors fa-3x servicio-icono"></i>
            <h3>Corte de cabello</h3>
            <p>Estilos modernos, clásicos y personalizados para mujeres, hombres y niños.</p>
        </div>
        <div class="servicio-card">
            <i class="fas fa-paint-brush fa-3x servicio-icono"></i>
            <h3>Coloración y Mechas</h3>
            <p>Cambios de look completos, balayage, reflejos, fantasía y más.</p>
        </div>
        <div class="servicio-card">
            <i class="fas fa-hand-sparkles fa-3x servicio-icono"></i>
            <h3>Manicure & Pedicure</h3>
            <p>Uñas acrílicas, gelish, decoraciones personalizadas y tratamientos relajantes.</p>
        </div>
        <div class="servicio-card">
            <i class="fas fa-water fa-3x servicio-icono"></i>
            <h3>Alisados y Keratinas</h3>
            <p>Tratamientos capilares profesionales para un cabello suave y manejable.</p>
        </div>
        <div class="servicio-card">
            <i class="fas fa-crown fa-3x servicio-icono"></i>
            <h3>Peinados para eventos</h3>
            <p>Bodas, XV años, graduaciones y más. Resalta en tu ocasión especial.</p>
        </div>
        <div class="servicio-card">
            <i class="fas fa-spa fa-3x servicio-icono"></i>
            <h3>Depilación facial y corporal</h3>
            <p>Técnicas con cera, hilo y métodos naturales para piel suave y cuidada.</p>
        </div>
    </div>
</section>

<section class="nosotros">
    <h2>Conócenos</h2>
    <img src="~/img/slider2.jpg" alt=" nuestro equipo" class=" nosotros-img">
    <p>En Estética Beauty Salon contamos con un espacio moderno y acogedor, donde recibirás atención personalizada por estilistas profesionales con experiencia. Nuestro compromiso es que te sientas cómoda, segura y feliz con cada visita.</p>
</section>


